.portfolioScreenshot{
    height: 600px;
    width: 1000px;
}

.portfolioScreenshot1 {
    height: 500px;
    width: 900px;
}

.portfolioScreenshot2 {
    height: 600px;
    width: 600px;
}

.portfolioScreenshot3 {
    height: 600px;
    width: 400px;
}

.portfolioScreenshot4 {
    height: 600px;
    width: 300px;
}

.portfolioScreenshot5 {
    height: 600px;
    width: 300px;
}