.inline-block {
    display: inline-block;
    vertical-align: top;
}

div.logo {
    width: 10;
    padding: 1%;
    text-align: center;
}

nav {
    width: 100%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

section.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 100px;
}


footer {
    width: 100%;
    background: color #373738;
    padding: 0px 0;
    text-align: center;
}

footer ul {
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

footer li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

.navbar-footer {
    padding: 100px;
}


.flexContainer {
    display: flex;
    flex-direction: rows;
    padding-right: 250px;
    padding-left: 250px;
}

.flexChild {
    width: 33%;
    padding: 75px;
    box-sizing: border-box;
}

.workGrid {
    display: grid;
    padding: 75px;
    padding-left: 300px;
    padding-right: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 50px;
    grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6";
}

.gridItem {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;

}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

@media (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
    }

    .flexChild {
        width: 100%;
    }

    .workGrid {
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6";
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 1fr;
    }
}

h1 {
    padding-left: 300px;
}

.contactInfo {
    padding: 75px;
    padding-left: 300px;
}

.heroImg.,
.mySkills,
.myWork,
.contactMe {
    display: flex;
    gap: 16px;
    padding: 64px;
}